# Flask Backend Requirements
flask
flask-cors
werkzeug


# Frontend Requirments
streamlit
requests
dotenv

# AI/ML Dependencies
google-generativeai
pinecone
langchain
langchain-community
langchain-pinecone
langchain-google-genai

# PDF Processing
pypdf

# Utilities
python-dotenv
requests

# Development (optional)
gunicorn

# FastAPI Dependencies
fastapi
uvicorn[standard]
pydantic
starlette
python-multipart

# Add any other specific dependencies your project needs, e.g., for data processing
# numpy
# pandas
pypdf-table-extraction
pdfplumber
opencv-python
transformers
torch
sentence-transformers
nltk