# Flask Backend Requirements
flask
flask-cors
werkzeug


# Frontend Requirments
streamlit
requests
dotenv

# AI/ML Dependencies
google-generativeai
pinecone
langchain
langchain-community
langchain-pinecone
langchain-google-genai

# PDF Processing
pypdf

# Utilities
python-dotenv
requests
werkzeug

# Development (optional)
gunicorn

# FastAPI Dependencies
fastapi
uvicorn[standard]
pydantic
starlette
python-multipart

# Database
sqlalchemy
pymysql
cryptography

# PDF Processing
pdfplumber
pandas